@keyframes bigform {
  from {
    transform: scale(200%) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: scale(100%) rotate(360deg);
    opacity: 1;
  }
}

form {
  margin-top: 16px;
  animation: bigform 1s linear;
}
