body {
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;
  max-width: 1024px;
  font-family: 'IBM Plex Sans', sans-serif;
}
span {
  color: red;
}
input,
select,
textarea {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
fieldset {
  margin-top: 20px;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  outline-color: #333;
}
select {
  min-width: 17rem;
  border: 2px solid #333;
  font-size: 16px;
  display: block;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
}
label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
textarea {
  min-width: 20rem;
  min-height: 7rem;
  border: 2px solid #333;
  font-size: 16px;
  display: block;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  outline-color: rgba(8, 42, 234, 0.974);
  margin-top: 20px;
}
input {
  border: 2px solid #333;
  min-width: 15rem;
  font-size: 16px;
  display: block;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  outline-color: rgba(8, 42, 234, 0.974);
  margin-top: 20px;
}
.button {
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #0048d9;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border: 1px solid #333;
  border-radius: 10px;
  min-width: 17rem;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.button:hover,
.button:focus {
  background-color: #002266;
  outline-style: rgb(95, 87, 87);
  outline: #333;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.email:invalid,
.description:invalid {
  border-color: #f44336;
}
.email:valid,
.description:valid {
  border-color: #4caf50;
}
/* input:invalid {
  background-color: #f8fafc;
  border: none;
  outline: 1px solid red;
  border-radius: 2px;
}
​ input:valid {
  background-color: #f8fafc;
  border: none;
  outline: 1px solid green;
  border-radius: 2px;
} */
.error {
  display: none;
  color: red;
}
.success {
  display: none;
  color: green;
}

/* input:invalid + .error {
  display: block;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
​ input:valid + .error + .success {
  display: block;
  font-size: 12px;
  margin: 0;
  padding: 0;
} */

.email:invalid + .error,
.description:invalid {
  display: block;
  font-size: 12px;
}
.email:valid + .success,
.description:valid + .success {
  display: block;
}

textarea::placeholder {
  color: grey;
  padding: 10px;
}
